.bg-image {
  background-image: url('Images/Computer_Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.carousel-item img {
  height: 150px;
  object-fit: contain;
}

.dropdown-item{
	min-width: 100%;       
  white-space: normal;  
  word-wrap: break-word;
}

.dropdown-toggle {
	font-size: 30px;
  width: 200px;
}


h1, h2, h3{
	color: #FF575D; 
	font-family: "Bitcount Grid Double", sans-serif;

}

.alert-warning{
	background-color:#FF575D ;
	border-color:#FF575D ;
}

.btn-primary {
  background-color: #FF575D !important;
  border-color: #FF575D !important;
  color: white;
}


body{
	background-color: black;

}

main{
	color: whitesmoke;
	font-family: "Anton", sans-serif;

}

img{
	display: block;
	margin: 0 auto;
	width: 20%;
}

h4 { 
	color: orange;
	font-weight: bolder;
	font-size: 100%;
}
