h1, h2, h3{
	color: #FF575D; 
	font-family: "Bitcount Grid Double", sans-serif;
}


body{
	background-color: black;

}

main{
	color: whitesmoke;
	font-family: "Anton", sans-serif;

}

img{
	display: block;
	margin: 0 auto;
	width: 20%;
}

h4 { 
	color: orange;
	font-weight: bolder;
	font-size: 100%;
}
